/* google popines fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* style sheed added */
body{
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;

}
header{
    background: #562EFF;
    height: 80px;
    width: 100%;
}
.logo-name img{
    height: 40px;
}
.logo-name h3{
    color: white;
}
.logo-name{
    display: flex;
    align-items: center;
   
}
.logo-name h3{
    margin-left: 15px;
}
/* manu style start */
.hedar-content{
   width: 950px;
   height: 100%;
   display: flex;
   margin: auto;
   justify-content: space-between;

}
.manu ul{
    display: flex;
    align-items: center;
   
    
    
}
.manu ul li{
    list-style: none;
    margin-left: 20px;
   
}
.manu ul li a{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    padding: 30px;
    background:white;
    margin-top: 20px;
}
.section-titel{
    color: #562EFF;
    margin-left: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 15px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player h3{
    padding-top: 20px;
}
.player-name{
    margin-left: 16px;
    color: #000000;
   
}
hr{
    border: 1px solid black;
}
/* blogs style starts */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 16px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog img{
    height: 117px;
    width: 177px;

}
.blog-author a{
    text-decoration: none;

}
/* latest course style start */
.courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 24px;


}
.course{
    padding: 10px;
}
.course-thamnels img{
    width: 224px;
    height: 104px;
}
.course-instractor p{
    color: #ED6B4F;
   
   
}
.course-durations{
    display: flex;
 
}
.fas.filled{
    color: #FFC014;
}
.fas.empty{
    color:  #AEAEAE;
    opacity: 0.25;
}
.cources-time{
    display: flex
  

}